.doctorIntro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.doctor-hero {
  border-radius: 20px;
  background-color: #eef2f9;
  color: #1b5fb2;
  width: 111px;
  border: 1px solid #abc7ea;
}
.doctor-desc {
  color: #6b7280;
  font-size: 20px;
  max-width: 600px;
  margin: 8px 0px;
}
.doctor-title {
  margin: 0px 10px;
  font-size: 30px;
  font-weight: bold;
  color: #162f56;
}
.doctor-name {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}
.doctor-card {
  border-radius: 11px;
  border-top: 5px solid rgb(192, 57, 43);
  background-color: white;
  box-shadow: 1px 1px 1px 1px #d1c8c8;
  margin: 18px;
}
.specialization {
  border-radius: 20px;
  background-color: #eef2f9;
  color: #1b5fb2;
  width: fit-content;
  padding: 2px 14px;
  margin: 10px 0px;
}
.doctor-Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
/* filter section */
.filtering {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.filtering div {
  width: fit-content;
  padding: 4px 10px;
  border: 1px solid rgb(196 199 203);
  border-radius: 40px;
  cursor: pointer;
}
.filtering .active-All {
  background-color: #036b61;
  color: white !important;
}
.filtering .active-pediatric {
  background-color: orange;
  color: white !important;
}
.filtering .active-inner {
  background-color: #1b3d82;
  color: white !important;
}
.filtering .active-dentist {
  background-color: #8e44ad;
  color: white !important;
}
.filtering .active-waves {
  background-color: #c0392b;
  color: white !important;
}
.filtering .active-women {
  background-color: #6fae2e;
  color: white !important;
}
.filtering .active-general {
  background-color: #2f4052;
  color: white !important;
}

.doctor-Container .hide {
  display: none;
}
@media (max-width: 400px) {
  .doctor-desc {
    font-size: 16px;
  }
  .doctor-name {
    font-size: 24px;
  }
  .doctor-Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .doctor-card {
    margin: 10px;
  }
}
